@import "mixins";
$custom-blue: hsl($primary-hue, 80%, 20%);

.screen-angles-input {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:50%;
	label {
		width:100%;
	}
}

body {
  @include body-starter;
  form {
    * {
      width: 80vw;
    }
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    button {
      @include spicy-btn($custom-blue);
      padding: 10px;
    }

    #evidence-label {
      button {
        @include spicy-btn($custom-blue);
        width: 20vh;
      }
      div {
        width: 100%;
        text-align: center;
      }
    }
    #evidence {
  padding: 5vh;
  margin:0;
  height:30vh;
  $x: 10%;
  color: $txt-color-1;
  background-color: lighten($bg-color-1, $x);
  border: solid 2px lighten($bg-color-1, $x/2);
  &:hover {
    cursor: pointer;
  }
    }
    input[type="text"] {
      $x: 10%;
      color: $txt-color-1;
      background-color: lighten($bg-color-1, $x);
      border: solid 2px lighten($bg-color-1, $x/2);
      &:focus {
        outline: solid 1px lighten($txt-color-1, 10%);
      }
    }
  }
}
