@import "mixins";
$custom-blue: hsl($primary-hue, 80%, 20%);

.results-display {
	display:flex;
	flex-direction:row;
	@media only screen and (max-width:$small-screen-width){
		flex-direction:column;
	}
 }

 .img-display{
	 margin:$channel-gap;
 }
 .channels-display{
	display:flex;
	flex-direction:column;
	gap:$channel-gap;

	.channels-row{
		display:flex;
		gap:$channel-gap;
	}


 }
 .customization_options{
	 width:80vw;
	 display:flex;
	 .option-column {
		 width:50%;
	 	@media only screen and (max-width:$small-screen-width){
			width:100%;
		}
		 display:flex;
		 flex-direction:column;
		 align-items:flex-start;
		 label {
			 width:100%;
		 }
	 }
	 @media only screen and (max-width:$small-screen-width){
		 flex-direction:column;
		 input{
			 width:80%;
		 }
	 }

	 .screen-angles-input {
	 }
 }


body {
  @include body-starter;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    button {
      @include spicy-btn($custom-blue);
      padding: 10px;
    }

    #evidence-label {
      button {
        @include spicy-btn($custom-blue);
        width: 20vh;
      }
      div {
        width: 100%;
        text-align: center;
      }
    }
    #evidence {
  padding: 5vh;
  margin:0;
  height:30vh;
  $x: 10%;
  color: $txt-color-1;
  background-color: lighten($bg-color-1, $x);
  border: solid 2px lighten($bg-color-1, $x/2);
  &:hover {
    cursor: pointer;
  }
    }
    input[type="text"] {
      $x: 10%;
      color: $txt-color-1;
      background-color: lighten($bg-color-1, $x);
      border: solid 2px lighten($bg-color-1, $x/2);
      &:focus {
        outline: solid 1px lighten($txt-color-1, 10%);
      }
    }
  }
}
