<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap/css.html' %}
    <meta charset="UTF-8" />
    <title>Halftoner</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X2DMDWGMRD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-X2DMDWGMRD');
    </script>
    {% block head %} {%endblock%}
  </head>
  <body>
    {% block body %} {%endblock%}
    <script src="static/javascript/accordion.js"></script>
  </body>
</html>
