<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap/css.html' %}
    <meta charset="UTF-8" />
    <title>Halftoner</title>

    <!-- Favicon files in different formats and sizes -->
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/favicon/android-chrome-512x512.png">

    <!-- Fallback favicon file -->
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X2DMDWGMRD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-X2DMDWGMRD');
    </script>
    {% block head %} {%endblock%}
  </head>
  <body>
    {% block body %} {%endblock%}
    <script src="static/javascript/accordion.js"></script>
    <script src="static/javascript/script.js"></script>
  </body>
</html>
