<div class="option-column">
<div class="input-div">
<label for="spacing">Max dot size:</label>
<input id="spacing" name="spacing" type="text" value={{defaults['spacing']}}></input>
</div>
<div class="input-div">
	<label for="black_generation">Black generation:</label>
	<div class="slider-holder">
		<span id="black-generation-value">4</span>
		<input class="slider" id="black_generation" name="black_generation" type="range" min="0" max="100" value={{defaults['black_generation']}}></input>
	</div>
</div>
</div>
<div class="option-column">
	<button class="accordion" style="width:100%" type="button">Adjust Screen Angles</button>
	<div class="screen-angles-input panel">
		<div class="input-div">
		<label for="angle_cyan">Cyan:</label>
		<input id="angle_cyan" name="angle_cyan" type="text" value={{defaults['angle_cyan']}}></input>
		</div>
		<div class="input-div">
		<label for="angle_magenta">Magenta:</label>
		<input id="angle_magenta" name="angle_magenta" type="text" value={{defaults['angle_magenta']}}></input>
		</div>
		<div class="input-div">
		<label for="angle_yellow">Yellow:</label>
		<input id="angle_yellow" name="angle_yellow" type="text" value={{defaults['angle_yellow']}}></input>
		</div>
		<div class="input-div">
		<label for="angle_black">Black:</label>
		<input id="angle_black" name="angle_black" type="text" value={{defaults['angle_black']}}></input>
		</div>
	</div>
</div>
