<div>
<label for="spacing">Max dot size:</label>
<input id="spacing" name="spacing" type="text" value=8></input>
</div>
{# just gonna comment this out for a while
<div>
<label for="angle">Angle:</label>
<input id="angle" name="angle" type="text" value=30></input>
</div>
<div>
<label for="dottype">Dot type:</label>
<select id="dottype" name="dottype" type="select" value="Euclidian Dot">
<option>Euclidian Dot</option>
<option>Circle</option>
<option>Line</option>
<option>Triangle</option>
</select>
</div>
#}
