{% extends 'basic_skeleton.html' %} {% block head %}
<link
		href="{{url_for('static',filename='css/snitch_style.css')}}"
		rel="stylesheet"
		/>
<link
		href="{{url_for('static',filename='css/accordion_style.css')}}"
		rel="stylesheet"
		/>

{% endblock %} {% block body %}
<form action="/" method="post" enctype="multipart/form-data" style="width:80vw">
	<div style="width:80vw">
		<label id="evidence-label" for="evidence" style="width:80vw">
			Please upload your photo
		</label>
		<input id="evidence" name="evidence" type="file" accept="image/*"/ style="width:80vw">
		<input id="case_code" name="case_code" type="hidden" value="None"/>
	</div>
	<div class="customization_options">
		{% include 'customization_options.html' %}
	</div>
	<button type="submit" style="width:80vw">Submit</button>
</form>
{%endblock%}
