{% extends 'basic_skeleton.html' %} {% block head %}
<link
  href="{{url_for('static',filename='css/snitch_style.css')}}"
  rel="stylesheet"
/>

<style>
body{
	height:100vh;
}
.customization_options{
	display:flex;
}
.customization_options div{
	width:50%;
}
.customization_options input{
	_text-align:center;
	width:70%;
}
</style>
{% endblock %} {% block body %}
<form action="/" method="post" enctype="multipart/form-data">
  <div>
  <label id="evidence-label" for="evidence">
    Please upload your photo
  </label>
  <input id="evidence" name="evidence" type="file" accept="image/*"/>
  <input id="case_code" name="case_code" type="hidden" value="None"/>
</div>
  <div class="customization_options">
 	 {% include 'customization_options.html' %}
  </div>
  <button type="submit">Submit</button>
</form>
{%endblock%}
