{% extends 'basic_skeleton.html' %} {% block head %}
<link
  href="{{url_for('static',filename='css/snitch_style.css')}}"
  rel="stylesheet"
/>
<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 3vh;
    text-align:center;
  }
  img{
    width:40vw;
  }
</style>
{% endblock %} {% block body %}

  <h2 style="font-size: 5vh;margin-top:10vh;">Here's your result!</h2>
  <img style="height:{{1.5*imgheight}};width:{{1.5*imgwidth}}" src="{{url_for('static',filename='images/processed/'+case_code+'.png')}}"> 
  <h2 style="font-size: 5vh;margin-top:10vh;">Channels:</h2>
  <div style="display:flex;gap:10px;">
  <img style="width:{{imgwidth}}vw;height:{{imgheight}}vw" src="{{url_for('static',filename='images/processed/'+case_code+'0.png')}}"> 
  <img style="width:{{imgwidth}}vw;height:{{imgheight}}vw" src="{{url_for('static',filename='images/processed/'+case_code+'1.png')}}"> 
  <img style="width:{{imgwidth}}vw;height:{{imgheight}}vw" src="{{url_for('static',filename='images/processed/'+case_code+'2.png')}}"> 
  </div>
{%endblock%}
